.e-header{
    background: linear-gradient(90deg, #1B3B6F, #065182, #1C7293);
    color: white;
    padding: 10px;

    .e-header__title{
        font-size: 24px;
        text-transform: uppercase;
    }
}

